#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px;
}

.invoices {
  width: 90vw;
  height: 50px;
  border:2px solid #ededed;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 12px 4px rgba(34, 60, 80, 0.07);
  -moz-box-shadow: 0px 1px 12px 4px rgba(34, 60, 80, 0.07);
  box-shadow: 0px 1px 12px 4px rgba(34, 60, 80, 0.07);
}

.select {
  background-color: #cecece;
  color: #000;
  border:2px solid #ededed;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 12px 4px rgba(34, 60, 80, 0.07);
  -moz-box-shadow: 0px 1px 12px 4px rgba(34, 60, 80, 0.07);
  box-shadow: 0px 1px 12px 4px rgba(34, 60, 80, 0.07);
}

.input_client {
background-color: #cecece;
  color: #000;
  border:2px solid #ededed;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 12px 4px rgba(34, 60, 80, 0.07);
  -moz-box-shadow: 0px 1px 12px 4px rgba(34, 60, 80, 0.07);
  box-shadow: 0px 1px 12px 4px rgba(34, 60, 80, 0.07);
}