#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px;
}

.invoices {
  width: 90vw;
  height: 50px;
  border:2px solid #ededed;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 12px 4px rgba(34, 60, 80, 0.07);
  -moz-box-shadow: 0px 1px 12px 4px rgba(34, 60, 80, 0.07);
  box-shadow: 0px 1px 12px 4px rgba(34, 60, 80, 0.07);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  

  &_titles {
    display: flex;
    gap: 25px;
    justify-content: space-around;
  }

  &_bottom-line {
    width: 90%;
    border-bottom: 2px solid #ededed;
  }
}